@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 90px;
  align-items: center;
}

.nav {
  width: 100vw;
  padding: 20px;
  background-color: #0081c9;
  color: white;
  text-align: center;
}

.nav-heading {
  font-weight: normal;
}

.emojis {
  display: flex;
  width: 80vw;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.facts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50vw;
  height: 55vh;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0 35px;
  border-radius: 50px;
}

.facts:hover {
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.delete-button {
  align-self: flex-end;
  font-size: 0.7rem;
  padding: 2px 10px;
  border: none;
  border-radius: 10px;
  background-color: red;
  color: white;
}

.delete-button:hover {
  cursor: pointer;
  background-color: rgb(245, 93, 93);
}

.emoji {
  font-size: 8rem;
}

.emoji-name {
  font-size: 1.2rem;
  color: #0081c9;
}

.emoji-meaning {
  font-size: 0.8rem;
}

.footer {
  background-color: #0081c9;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-details {
  color: white;
}
